*{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

html, body{
	height: 100%;
	overflow: hidden;
}

body{
	padding: 0;
	margin: 0;
	background: #000000;
	font-size: 14px;
	line-height: 1;
}

label{
	cursor: pointer;
}

a{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #000;
}

input, select, button, textarea{
	margin: 0;
	font-size: 100%;
}

.top-header:befor:{
	background-image: ;
}

.top-header:before{
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-repeat: repeat-x;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}